In [8]:
import pandas as pd

people = {
    'first' : ['Corey', 'Jane', 'John', 'Adam'],
    'last'  : ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email' : ['CoreyMSchafer@gmail.com','JaneDoe@email.com', 'JohnDoe@email.com', 'A@email.com']

}

df = pd.DataFrame(people)

In [9]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [10]:
df.sort_values(by='last')

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [11]:
df.sort_values(by='last', ascending=True)

   first     last                    email
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [12]:
df.sort_values(by=['last', 'first'], ascending=False)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com
1   Jane      Doe        JaneDoe@email.com
3   Adam      Doe              A@email.com

In [13]:
df.sort_values(by=['last', 'first'], ascending=[False, True])

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
3   Adam      Doe              A@email.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [14]:
df.sort_index()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Adam      Doe              A@email.com

In [15]:
df['last'].sort_values()

1        Doe
2        Doe
3        Doe
0    Schafer
Name: last, dtype: object

In [29]:
df = pd.read_csv('/content/survey_results_public.csv')
schema_df = pd.read_csv('/content/survey_results_schema.csv')

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

df.sort_values(by='Country', inplace=True)

In [27]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
51188,51189,"I am not primarily a developer, but I write co...","Not employed, but looking for work",NaN,NaN,Something else,Books / Physical media,NaN,NaN,21,NaN,"Developer, desktop or enterprise applications",NaN,NaN,Other (please specify):;Start a free trial;Vis...,Afghanistan,NaN,NaN,NaN,APL,APL,NaN,NaN,OpenStack,OpenStack,Express,Express,NaN,NaN,Ansible;Unity 3D,Ansible;Unity 3D,Xcode,NaN,NaN,Windows Subsystem for Linux (WSL),Other (please specify):,Dedicated version control GUI application,NaN,NaN,Planview Projectplace or Clarizen,Planview Projectplace or Clarizen,Cisco Webex Teams,Cisco Webex Teams,Unsure,Stack Overflow for Teams (private knowledge sh...,Less than once per month or monthly,Yes,I have never participated in Q&A on Stack Over...,Neutral,18-24 years old,Man,Yes,Straight / Heterosexual,Asian,I am unable to / find it difficult to walk or ...,Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
38512,38513,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Coursera;Udemy;Udacity;Skillsoft,40,36,Data scientist or machine learning specialist;...,"10,000 or more employees",I have a great deal of influence,Ask developers I know/work with;Research compa...,Afghanistan,AFN\tAfghan afghani,1200000.0,Monthly,APL;Assembly;Bash/Shell;C;C#;C++;COBOL;Crystal...,NaN,IBM DB2;Microsoft SQL Server;MySQL;Oracle;Post...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based;Windows,Linux-based;Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,NaN,NaN,Very favorable,I have never visited Stack Overflow or the Sta...,NaN,Not sure/can't remember,NaN,Not sure,18-24 years old,"Non-binary, genderqueer, or gender non-conforming","Or, in your own words:",Bisexual;Straight / Heterosexual;Gay or Lesbia...,White;Indian;European;North American;Middle Ea...,I am deaf / hard of hearing;I am blind / have ...,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,158484.0
7944,7945,I am learning to code,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,2,NaN,Student,NaN,NaN,Start a free trial,Afghanistan,NaN,NaN,NaN,C;C++;Haskell;Rust;Swift,NaN,PostgreSQL;Redis,NaN,Heroku,NaN,NaN,NaN,Flutter,NaN,Homebrew,Homebrew,Visual Studio Code;Xcode,Visual Studio Code;Xcode,macOS,macOS;Windows,Git,Command-line;Version control hosting service w...,NaN,NaN,Notion,Notion,NaN,NaN,Indifferent,Stack Exchange,A few times per week,Yes,A few times per week,"No, not really",18-24 years old,Man,No,Bisexual,Biracial,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
29704,29705,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,"School (i.e., University, College, etc)",NaN,NaN,1,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Afghanistan,NaN,NaN,NaN,C;HTML/CSS;JavaScript;PHP;Python;SQL,Assembly;Bash/Shell;C;C++;Java;PowerShell;Pyth...,MySQL;PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Notepad++;PyCharm;Visual Studio Code,Notepad++;Visual Studio Code,Other (please specify):,Other (please specify):,I don't use one,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,Prefer not to say,Prefer not to say,No,Prefer not to say,Prefer not to say,Prefer not to say,Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Neither easy nor difficult,NaN
19201,19202,I am a developer by profession,"Student, full-time;Not employed, but looking f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Flutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Man,NaN,Bisexual,Asian,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN

In [44]:
df.sort_values(by='Country', inplace=True)

In [48]:
df['ResponseId'].nlargest(10)

73267    73268
73266    73267
73265    73266
73264    73265
73263    73264
73262    73263
73261    73262
73260    73261
73259    73260
73258    73259
Name: ResponseId, dtype: int64

In [42]:
df['Country'].head(50)

51188    Afghanistan
23161    Afghanistan
71715    Afghanistan
22876    Afghanistan
34043    Afghanistan
33428    Afghanistan
61935    Afghanistan
4502     Afghanistan
30850    Afghanistan
21765    Afghanistan
33328    Afghanistan
49273    Afghanistan
61767    Afghanistan
32132    Afghanistan
51547    Afghanistan
48959    Afghanistan
15607    Afghanistan
6242     Afghanistan
3775     Afghanistan
10910    Afghanistan
42870    Afghanistan
70465    Afghanistan
10233    Afghanistan
55665    Afghanistan
60625    Afghanistan
46025    Afghanistan
1959     Afghanistan
67666    Afghanistan
55309    Afghanistan
67565    Afghanistan
3641     Afghanistan
13851    Afghanistan
55393    Afghanistan
53960    Afghanistan
42122    Afghanistan
60649    Afghanistan
30040    Afghanistan
43690    Afghanistan
5464     Afghanistan
2448     Afghanistan
69586    Afghanistan
56188    Afghanistan
43639    Afghanistan
56266    Afghanistan
56355    Afghanistan
24812    Afghanistan
19201    Afghanistan
61617    Afghanistan
7944     Afghanistan
38512    Afghanistan
Name: Country, dtype: object